#container,
#container > div div {
  border: 5px solid red;
  margin: 10px;
}

#grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

.root99,
.root99 div {
  border: 10px solid gray;
  margin: 10px;
  padding: 10px;
}
