#root {
  display: grid;
  grid-template-columns: auto 1fr;
}

.fill-grid {
  block-size: 100%;
  text-align: center;
  line-height: 35px;
  padding: 0;

  /* > div {
      padding-block: 0;
      padding-inline: 8px;

      &:first-child {
        border-block-end: 1px solid var(--rdg-border-color);
      }
    } */
}

.fill-grid.div {
  padding-block: 0;
  padding-inline: 8px;
}

.oksk {
  background-color: aqua;
  color: blueviolet;
}
.oksk2 {
  background-color: blue;
  color: chartreuse;
}
.idHeaderCellClass {
  
  line-height: 0;
  /* 컬럼 합쳐지게 보이는 법은 이렇게!!   line-height: 0;  */
}
.idsummaryCellClass{
  width: 100px;
}
.idcellClass {
  width: 100px;
}

.filterCell99 {
  /* padding-block: 0; */
  /* padding-inline: 8px; */
  /* //padding-inline: 8px; */
  
  text-align: center;

  /* border-block-end: 1px solid yellow; */
}
